$wrapper
  //max-width $contentWidth
  max-width 960px
  margin 0 auto
  padding 2rem 2.5rem
  word-wrap: break-word
  //word-break: keep-all
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

