#app .page-title, #app .theme-reco-content.content__default, #app footer, #app .page-nav, #app .comments-wrapper {
    max-width: 960px;
}

#app .page-title {
    padding: 1.5rem;
}

#app .theme-reco-content.content__default {
    padding: 0rem 2.5rem;
}

#app .theme-reco-content.content__default > h1, #app .theme-reco-content.content__default > p {
    display: none;
}